extends ../layout

block content
  style.
    #map {
      width: 100%;
      height: 500px;
    }

  .page-header
    h2
      | Drop-off Locations

  h3 Find milk drop-off locations near you

  #map

  script.
    var map;
    var superchargers = [
      {
        location: 'Fremont',
        latitude: 37.49267,
        longitude: -121.94409
      },
      {
        location: 'Folsom',
        latitude: 38.64392,
        longitude: -121.18621
      },
      {
        location: 'Gilroy',
        latitude: 37.02615,
        longitude: -121.56487
      },
      {
        location: 'Harris Ranch',
        latitude: 36.25316,
        longitude: -120.23853
      },
      {
        location: 'Mt. Shasta',
        latitude: 41.30981,
        longitude: -122.31766
      },
      {
        location: 'Roseville',
        latitude: 38.77344,
        longitude: -121.26928
      },
      {
        location: 'Truckee',
        latitude: 39.32720,
        longitude: -120.20643
      },
      {
        location: 'Vacaville',
        latitude: 38.36720,
        longitude: -121.95601
      },
      {
        location: 'Atascadero',
        latitude: 35.48640,
        longitude: -120.66558
      },
      {
        location: 'Barstow',
        latitude: 34.89120,
        longitude: -116.99910
      },
      {
        location: 'Buellton',
        latitude: 34.61545,
        longitude: -120.18856
      },
      {
        location: 'Cabazon',
        latitude: 33.92967,
        longitude: -116.81649
      },
      {
        location: 'Culver City',
        latitude: 33.98465,
        longitude: -118.39505
      },
      {
        location: 'El Centro',
        latitude: 32.76200,
        longitude: -115.53197
      },
      {
        location: 'Indio',
        latitude: 33.74272,
        longitude: -116.21316
      },
      {
        location: 'Los Angeles',
        latitude: 33.92142,
        longitude: -118.32982
      },
      {
        location: 'Needles',
        latitude: 34.85083,
        longitude: -114.62414
      },

      {
        location: 'Oxnard',
        latitude: 34.24075,
        longitude: -119.17699
      },
      {
        location: 'Rancho Cucamonga',
        latitude: 34.11348,
        longitude: -117.53257
      },
      {
        location: 'San Juan Capistrano',
        latitude: 33.49835,
        longitude: -117.66287
      },
      {
        location: 'Tejon Ranch',
        latitude: 34.98661,
        longitude: -118.94630
      }
    ];

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 45.523062, lng: -122.676482 },
        zoom: 7
      });
      var broadway = {
    		info: '<strong>Northwest Mothers Milk Bank</strong><br>\
    					417 SW 117th Ave. Suite 105 Portland, OR 97225<br>\
              Phone: 503-469-0955<br>\
    					<a href="https://goo.gl/maps/R1vc2MNWc3G2">Get Directions</a>',
    		lat: 45.517083,
    		long: -122.797066
    	};

    	var belmont = {
    		info: '<strong>Astoria - Columbia Memorial Hospital</strong><br>\
        2111 Exchange St, Astoria, OR 97103<br>\
        Phone: 503-791-9140<br>\
    					<a href="https://goo.gl/maps/GKNqJ8Kd9kk">Get Directions</a>',
    		lat: 46.188267,
    		long: -123.819141
    	};

    	var sheridan = {
    		info: '<strong>Bend - St. Charles Health System</strong><br>\r\
        2500 NE Neff Rd Bend, OR 97701<br>\
        Phone: 541-706-2900 x2641<br>\
    					<a href="https://goo.gl/maps/VFtcyYhP4NM2">Get Directions</a>',
    		lat: 44.067988,
    		long: -121.269482
    	};

    	var locations = [
          [broadway.info, broadway.lat, broadway.long, 0],
          [belmont.info, belmont.lat, belmont.long, 1],
          [sheridan.info, sheridan.lat, sheridan.long, 2],
        ];

    	var map = new google.maps.Map(document.getElementById('map'), {
    		zoom: 5,
    		center: new google.maps.LatLng(45.523062, -122.676482),
    		mapTypeId: google.maps.MapTypeId.ROADMAP
    	});

    	var infowindow = new google.maps.InfoWindow({});

    	var marker, i;

    	for (i = 0; i < locations.length; i++) {
    		marker = new google.maps.Marker({
    			position: new google.maps.LatLng(locations[i][1], locations[i][2]),
    			map: map
    		});

    		google.maps.event.addListener(marker, 'click', (function (marker, i) {
    			return function () {
    				infowindow.setContent(locations[i][0]);
    				infowindow.open(map, marker);
    			}
    		})(marker, i));
    	}
    }

  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCDVbsmyxAPcn0qt9R4TPXf5SVJO0WNNIE&callback=initMap')
