extends layout

block content
  img(src= "css/images/nwmmb.png")
  h1.col-sm-6 northwest Mothers Milk Bank
  hr
  div
    .row
      .col-sm-6
        button(class="btn btn-primary") Schedule Drop-off
  div
    .row
      .col-sm-6
        button(class="btn btn-primary") Drop-off Check-in
